.gradle
build/
generated/
!gradle/wrapper/gradle-wrapper.jar
bin/
env.bat

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### direnv ###
.envrc

.jqwik-database

### Etc ###
.DS_Store

### Doc ###
node_modules
resources
docs/.netlify
docs/public
.hugo_build.lock
