.release-note-table-of-contents {
  display: block;
  background: transparent;
  font-size: 1.2em;
}

.release-note-table-of-contents > nav > ul > li {
  border-radius: 10px;
  border: transparent;
  background-color: #F8F9FA;
  padding: 15%;
  margin-top: 10%;
}

.release-note-table-of-contents > nav > ul > li > a {
  font-weight: bold;
  font-size: $font-size-lg;
  padding-bottom: 10%;
}

.release-note-table-of-contents > nav > ul > li > ul > li > a {
  color: #495057;
  font-size: $font-size-sm;
}

.release-note-table-of-contents ul li {
  border: none !important;
}

.release-note-table-of-contents ul {
  padding-left: 0;
  list-style: none;
}

.release-note-table-of-contents-border {
  padding: 0% 10% 10% 10%;
  margin-top: 5vh;
  border-color: $gray-300;
  border-width: 2px;
  border-radius: 25px;
}

.version-container {
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-300;
  padding: 1% 4% 1% 4%;
  margin-top: 3%;
}

.version-container p {
  line-height: 200%;
}

.experimental-container {
  border-radius: 10px;
  border: transparent;
  background-color: #F8F9FA;
  padding: 1% 4% 1% 4%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.experimental-container li {
  font-size: $font-size-sm;
}

.version-container p {
  font-size: $font-size-sm;
}

.version-container > h3 {
  font-weight: 700;
  font-size: $font-size-xl * 1.25;
}

.version-container > h3[id]::before {
  display: block;
  height: 7rem;
  margin-top: -7rem;
  content: "";
}

.release-note-content h2 {
  display: none;
}
