/*

Add styles or override variables from the theme here.

*/

/* grpc-docsy full file override: we're not tracking changes to the docsy base file. */
$primary: #244c5a;
$secondary: #5ac5c5;
$info: #379c9c;
