+++
title = "Fixture Monkey"
+++

{{< blocks/cover title="Fixture Monkey" image_anchor="center" color="primary" >}}
<a class="btn btn-lg btn-primary me-3 mb-4" href="/fixture-monkey/docs">
    시작하기 <i class="fas fa-arrow-alt-circle-right ms-2"></i>
</a>
<a class="btn btn-lg btn-secondary me-3 mb-4" href="https://github.com/naver/fixture-monkey">
    기여 <i class="fab fa-github ms-2 "></i>
</a>
<p class="lead mt-5">복잡한 객체를 자동으로 만들어 테스트를 편하게 만들어주는 라이브러리</p>
{{< blocks/link-down color="info" >}}
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Fixture Monkey는 테스트 객체를 편하게 자동으로 생성해주는 자바 라이브러리 입니다. <p></p>
JVM 생태계에서 더 편하게 테스트를 작성하고 더 편하게 테스트를 읽을 수 있는 환경을 만들고자 합니다.

{{% /blocks/lead %}}

{{% blocks/section color="dark" type="row" %}}
{{% blocks/feature icon="fas fa-recycle" title="재사용성" %}}
복잡한 스펙의 테스트 객체를 재사용할 수 있습니다.

테스트마다 복잡한 객체를 매번 정의할 필요 없습니다.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-redo" title="반복성" %}}
테스트마다 새로운 객체를 자동으로 생성해서 테스트할 수 있습니다.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-wrench" title="간단함" %}}
빌더 패턴으로 복잡한 테스트 객체를 정의할 수 있습니다.

테스트 객체 내 복잡한 연관관계도 쉽게 처리할 수 있습니다.
{{% /blocks/feature %}}

{{% /blocks/section %}}
