<link rel="shortcut icon" href="{{ "/favicons/favicon.png" | relURL }}" >
<link rel="apple-touch-icon" href="{{ "/favicons/favicon.png"  | relURL }}" sizes="180x180">
<link rel="icon" type="image/png" href="{{ "/favicons/favicon.png" | relURL }}" sizes="16x16">
<link rel="icon" type="image/png" href="{{ "/favicons/favicon.png" | relURL }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ "/favicons/favicon.png" | relURL }}" sizes="36x36">
<link rel="icon" type="image/png" href="{{ "/favicons/favicon.png" | relURL }}" sizes="48x48">
<link rel="icon" type="image/png" href="{{ "/favicons/favicon.png" | relURL }}" sizes="72x72">
<link rel="icon" type="image/png" href="{{ "/favicons/favicon.png" | relURL }}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ "/favicons/favicon.png" | relURL }}" sizes="144x144">
<link rel="icon" type="image/png" href="{{ "/favicons/favicon.png" | relURL }}" sizes="192x192">
