+++
title = "Fixture Monkey"
+++

{{< blocks/cover title="Fixture Monkey" image_anchor="center" color="primary" >}}
<a class="btn btn-lg btn-primary me-3 mb-4" href="/fixture-monkey/docs">
    Get Started <i class="fas fa-arrow-alt-circle-right ms-2"></i>
</a>
<a class="btn btn-lg btn-secondary me-3 mb-4" href="https://github.com/naver/fixture-monkey">
    Contribute <i class="fab fa-github ms-2 "></i>
</a>
<p class="lead mt-5">The easiest way to generate controllable arbitrary test objects</p>
{{< blocks/link-down color="info" >}}
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Fixture Monkey is a Java library for <p></p>
automatically generating <strong>reusable and controllable, arbitrary test fixtures</strong>

{{% /blocks/lead %}}

{{% blocks/section color="dark" type="row" %}}
{{% blocks/feature icon="fas fa-recycle" title="Reusability" %}}
Reuse test instances which follows complex specification you defined

DO NOT need to define complex specification each test
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-redo" title="Repeatability" %}}
Repeat your tests countless times with different test object every time
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-wrench" title="Simplicity" %}}
Instantiating complex test object using Builder Pattern
{{% /blocks/feature %}}

{{% /blocks/section %}}