name: Run tests

on:
  push:
    branches: [ main, '[0-9]*.[0-9]*.x' ]
  pull_request:
    branches: [ main, '[0-9]*.[0-9]*.x' ]
  workflow_dispatch:

jobs:
  static-analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 8
      - name: Execute check without tests
        uses: gradle/gradle-build-action@v2.4.2
        with:
          arguments: check -x test
  test:
    name: Testing on JDK ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '17', '21' ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.Java }}
      - name: Build
        uses: gradle/gradle-build-action@v2.4.2
        with:
          arguments: build -x test
      - name: Execute tests
        uses: gradle/gradle-build-action@v2.4.2
        with:
          arguments: test
        env:
          CI: Github Action

      - name: Publish test report
        uses: mikepenz/action-junit-report@v4
        if: always() # always run even if the previous step fails
        with:
          check_name: JUnit Test Report on JDK ${{ matrix.Java }}
          report_paths: '**/build/test-results/test/TEST-*.xml'
          detailed_summary: true

      - name: Test Summary
        uses: actions/upload-artifact@v4  # upload test results
        if: always()
        with:
          name: test-results
          path: '**/build/test-results/test/TEST-*.xml'
          overwrite: true