name: github pages

on:
  push:
    branches:
      - doc
jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: fetch Hugo
        uses: actions/checkout@v2
        with:
          submodules: recursive  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: install
        run: npm install postcss

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/doc'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
